.leaderboard button {
  background: white;
  color: black;
}

.leaderboard button:hover {
  background: black;
  color: white;
}

.playerData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.playerName {
  align-self: flex-start;
  font-weight: bold;
}

.playerScores {
  align-self: flex-end;
}

.wins {
  color: green;
}

.losses {
  color: red;
}

.draws {
  color: gold;
}

